@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

:root {
  --color-default: #b6f800;
  --color-hover: white;
}

body {
  visibility: hidden;
  user-select: none;
  white-space: nowrap;
  margin: 0;
  user-select: none;
  overflow: hidden;
}

p {
  margin: 0;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 40;
}

#eye {
  content: "\F33E";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5vh;
  fill: #8df800;
}

.eye-hover {
  fill: var(--color-default);
}

#options-wrapper {
  position: absolute;
  top: calc(48.5%);
  left: calc(50% + 30pt);
}



.option-container {
  color: var(--color-default);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-family: "Nunito";
  border-style: solid;
  border-radius: 3px;
  border-width: 0.1rem;
  border-color: rgba(138, 138, 138, 0.925);
  background: radial-gradient(circle, rgba(46, 46, 46, 0.829) 0%, rgba(59, 60, 66, 0.808) 100%);
  font-size: 10pt;
  line-height: 22pt;
  vertical-align: middle;
  margin: 2pt;
  transition: 300ms;
  transform-origin: left top;
  scale: 1;
  height: 22pt;
  width: 150pt;
  top: 0;
}

.option-container:hover {
  transform-origin: left top;
  color: var(--color-hover);
  border-style: solid;
  border-radius: 3px;
  border-width: 0.1rem;
  border-color: #99f800;
  box-shadow: inset 0px 0px  31px #99f8003d;
}

.option-icon {
  font-size: 12pt;
  line-height: 22pt;
  width: 14pt;
  margin: 5pt;
  color: var(--color-default);
  
}

.option-label {
  font-weight: 500;
  color: #fff;
}

@keyframes glow {
  0% {
    filter: drop-shadow(0 0 5px #99f800) brightness(1);
  }
  50% {
    filter: drop-shadow(0 0 20px #ffffff) brightness(1.5);
  }
  100% {
    filter: drop-shadow(0 0 5px #99f800) brightness(1);
  }
}

#eyeSvg {
  animation: glow 1.5s infinite;
}
